<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <queries>
    <intent>
      <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
    </intent>
    <intent>
      <action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT" />
      <category android:name="com.adamrocker.android.simeji.REPLACE" />
    </intent>
  </queries>
  <application
    android:name=".SKKApplication"
    android:allowBackup="true"
    android:label="@string/ime_name">
    <service
      android:name=".SKKService"
      android:exported="false"
      android:permission="android.permission.BIND_INPUT_METHOD">
      <intent-filter>
        <action android:name="android.view.InputMethod" />
      </intent-filter>
      <meta-data
        android:name="android.view.im"
        android:resource="@xml/method" />
    </service>

    <activity
      android:name=".SKKSettingsActivity"
      android:exported="true"
      android:label="@string/label_pref_activity"
      android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".SKKUserDicTool"
      android:label="@string/label_dictool_activity"
      android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
    <activity
      android:name=".SKKDicManager"
      android:label="@string/label_dicmanager_activity"
      android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
    <activity
      android:name=".SKKMushroom"
      android:label="@string/label_mushroom"
      android:theme="@style/Theme.AppCompat.Light.Dialog" />
    <activity
      android:name=".SKKSpeechRecognitionResultsList"
      android:label="@string/label_speech_recognition_results"
      android:theme="@style/Theme.AppCompat.Light.Dialog"
      android:windowSoftInputMode="stateAlwaysHidden" />
  </application>
</manifest>
